node_modules/
.expo/
.expo-shared/
*.log
/dist/
/build/
.env
.env.local
**/node_modules/
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml
.DS_Store
npm-debug.log*
**/*.db
**/*.sqlite
**/*.sqlite3
**/*.sql
.env
